* {
    margin: 0;
    padding: 0;
}

/*------------- Début Header--------------*/

header {
    height: 100px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
}

header nav p {
    direction: rtl;
    padding-right: 9px;
    padding-top: 17px;
    font-size: 20px;
    font-family: sans-serif;
}

header nav article {
    padding-top: 38px;
    font-family: sans-serif;
}

header nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 14px;
}

header img{
    padding-right: 55px;
}


/*-------------fin Header------------*/


/*---------début Main---------*/

/*------Disposition de tous les id # et classes . début du Main--------*/

main{
    background-color: #1C1C1C;
    padding-top: 15px;
}

#image {
    width: 860px;
    display: block;
    margin: auto;
}

/* 1er partie du Main */
.gantBoxe1 {
    background-color: #f3f3f3;
    width: 860px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
}

/* 2e partie du Main */

.gantBoxe2 {
    background-color: #f3f3f3;
    width: 860px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    padding-top: 30px;
}

main article label {
    background-color: #393939;
    padding: 6px 10px;
    border-radius: 5px;
    position: relative;
    bottom: 265px;
    left: 200px;
}

/* Description gant */
.argGantBoxe {
    background-color: #ffffff;
    width: 227px;
    margin-top: -4px;
}

.descript {
    font-size: 10px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 11px;
}

/* Button vente + prix */
.button {
    background-color: #303030;
    border: #303030;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 20px;
    margin-top: 15px;
}


.promo {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.prixBarré {
    font-weight: bold;
    text-decoration: line-through;
}

.prixColor {
    font-weight: bold;
    font-family: sans-serif;
    color: #D0941D;
}

/* Derniere partie du Main */

#contact {
    background-color: #ffffff;
    display: flex;
    width: 408px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 19px;
    border-radius: 8px;
    position: relative;
    bottom: 30px;
}

#contact p{
    font-family: sans-serif;
    font-size: small;
    padding: 0 5px;
}

.rond {
    background:#D2D2D2;
    border-radius:50%;
    width: 10px;
    height: 10px;
}


/*------fin de tous les id # et classes .fin du Main--------*/

/*-----------début du Footer-----------*/

/*------Disposition de tous les id # et classes  du footer--------*/



#footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.textPict p{
    font-size: 11px;
    padding-top: 15px;
    font-family: sans-serif;
}

#trait {
    background-color: #828282;
    height: 3px;
    width: 1180px;
    margin: 30px auto 20px auto;
    /* car il y a deja une margin auto c'est pour cela que le 22 et 26 est pour spécifié le haut et le bas */
    
}

#icons p{
    font-size: small;
    font-family: sans-serif;
}

#icons img{
    padding: 20px;
    font-size: 30px;
    height: 50px;
    margin-bottom: 15px;
}

/*------fin de tous les id # et classes . du Footer--------*/


footer {
    background-color: #393939;
    color: #ffffff;
    margin-top: -57px;
    padding: 50px 260px;
    text-align: center;
}


/*-------------fin du footer------------*/

@media screen and (max-width: 576px) {

/*---------responsive header-------------*/

header {
    display: block; 
    height: 175px;
}

header #logo {
    display: block;
    margin: auto;
}

header nav{
    display: block;
    width: auto;
}

header nav p {
    display: flex;
    justify-content: flex-end;
    padding-left: 55px;
    margin-top: 25px;
}

header nav article {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

/*--------fin responsive header----------*/ 


/*-----------respopnsive main------------*/

#image {
    width: 92%;
}

.gantBoxe1 img {
    display: block;
    margin: auto;
}

.gantBoxe1 {
    display: block;
    width: 92%;
}

.gantBoxe2 img {
    display: block;
    margin: auto;
}

.gantBoxe2 {
    display: block;
    width: 92%;
}


.argGantBoxe, .button {
    display: block;
    margin: auto;
}

.promo {
    margin-right: 153px;
}

.button {
    margin-right: 19px;
    margin-top: 15px;
}

.prixColor {
    margin-left: 25px;
}

#prixColor {
    position: relative;
    left: 325px;
}

/*-----------fin respopnsive main----------*/

/* Début Footer */

footer{
    padding: 50px 0;
}

.textPict {
    display: block;
    margin-bottom: 25px;
}
#trait{
    display: block;
    width: 92%;
    margin: auto;
}

#icons img{
    margin: 0;
}

}